.wrapper-progressBar {
    width: 100%;
}

.progressBar {
}

.progressBar li {
    list-style-type: none;
    float: left;
    width: 15%;
    position: relative;
    text-align: center;
    font-size: 12px;
}

.progressBar li:before {
    content: " ";
    line-height: 30px;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    border: 1px solid #ddd;
    display: block;
    text-align: center;
    margin: 0 auto 10px;
    background-color: white
}

.progressBar li:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #ddd;
    top: 7px;
    left: -50%;
    z-index: -1;
}

.progressBar li:first-child:after {
    content: none;
}

.progressBar li.active {
    color: #bdd400;
}

.progressBar li.active:before {
    border-color: #bdd400;
    background-color: #bdd400
}

.progressBar li.active + li:after {
    background-color: #bdd400;
}

/* bootstrap btn */
.linkLine .btn:focus {
    box-shadow: none;
  }