
/* Fonts style ends */

html {
  max-width: 100%;
  overflow-x: hidden;
  height: 100%;
  scroll-behavior: smooth;
}
body{
  position: relative;
  font-family: 'basier_squaremedium';
  color: #000000;
  padding-bottom: 80px;
  min-height: 110%;
  margin: 0 auto -50px;
}
