.filter-green {
	filter: invert(42%) sepia(93%) saturate(1352%) hue-rotate(87deg)
		brightness(90%) contrast(119%);
}

.btn-filter:hover .filter-green {
	filter: brightness(0) invert(1);
}

.filter-white {
	filter: brightness(0) invert(1);
}

.label-text {
	font-family: "Helvetica Neueâ€,Helvetica,Arial,sans-serif" !important;
}
